<h1 style="text-align: center;">Data Dictionary – Formula 1</h1>

In order to ensure optimal understanding ot the datasets, I have provided a data dictonary for each of them in the following notebook:

# 2024 Season Data

In [1]:
import pandas as pd
df = pd.read_csv('Formula1_2024season_raceResults.csv')
import pandas as pd
def infer_type(series):
    if pd.api.types.is_integer_dtype(series):
        return "Integer"
    elif pd.api.types.is_float_dtype(series):
        return "Float"
    elif pd.api.types.is_bool_dtype(series):
        return "Boolean"
    else:
        return "String"

data_dict = []

for col in df.columns:
    col_data = df[col]
    inferred_type = infer_type(col_data)
    required = "Yes" if col_data.isnull().sum() == 0 else "No"
    example = col_data.dropna().iloc[0] if not col_data.dropna().empty else "N/A"

    if col == "Set Fastest Lap":
        allowed_values = "Yes, No"
    elif col == "Time/Retired":
        allowed_values = 'Time format (e.g., 1:31:44.742, +25.110) or DNF'
    elif col == "Fastest Lap Time":
        allowed_values = 'Time format MM:SS.sss'
    elif inferred_type == "String":
        allowed_values = "Any string"
    elif inferred_type == "Integer":
        allowed_values = "Integer ≥ 0"
    else:
        allowed_values = "Any"

    data_dict.append([col, inferred_type, required, allowed_values, example])

data_dict_df = pd.DataFrame(data_dict, columns=["Field Name", "Data Type", "Required", "Allowed Values / Format", "Example"])
data_dict_df.head(15)

,Field Name,Data Type,Required,Allowed Values / Format,Example
0,Track,String,Yes,Any string,Bahrain
1,Position,String,Yes,Any string,1
2,No,Integer,Yes,Integer ≥ 0,1
3,Driver,String,Yes,Any string,Max Verstappen
4,Team,String,Yes,Any string,Red Bull Racing Honda RBPT
5,Starting Grid,Integer,Yes,Integer ≥ 0,1
6,Laps,Integer,Yes,Integer ≥ 0,57
7,Time/Retired,String,Yes,"Time format (e.g., 1:31:44.742, +25.110) or DNF",1:31:44.742
8,Points,Integer,Yes,Integer ≥ 0,26
9,Set Fastest Lap,String,Yes,"Yes, No",Yes
10,Fastest Lap Time,String,No,Time format MM:SS.sss,1:32.608

--------------------------------------------------------------------------

# Qualifying

In [2]:
import pandas as pd
df = pd.read_csv('QUALIFYING.csv')

def infer_type(series):
    if pd.api.types.is_integer_dtype(series):
        return "Integer"
    elif pd.api.types.is_float_dtype(series):
        return "Float"
    elif pd.api.types.is_bool_dtype(series):
        return "Boolean"
    else:
        return "String"

data_dict = []

for col in df.columns:
    col_data = df[col]
    inferred_type = infer_type(col_data)
    required = "Yes" if col_data.isnull().sum() == 0 else "No"
    example = col_data.dropna().iloc[0] if not col_data.dropna().empty else "N/A"

    if col in ["Q1", "Q2", "Q3"]:
        allowed_values = "Time format MM:SS.sss"
    elif inferred_type == "String":
        allowed_values = "Any string"
    elif inferred_type == "Integer":
        allowed_values = "Integer ≥ 0"
    else:
        allowed_values = "Any"

    data_dict.append([col, inferred_type, required, allowed_values, example])

data_dict_df = pd.DataFrame(data_dict, columns=["Field Name", "Data Type", "Required", "Allowed Values / Format", "Example"])
data_dict_df.head(15)

  Field Name Data Type Required Allowed Values / Format           Example
0   Location    String      Yes              Any string         Australia
1        Pos    String      Yes              Any string                 1
2         No   Integer      Yes             Integer ≥ 0                 4
3     Driver    String      Yes              Any string      Lando Norris
4        Car    String      Yes              Any string  McLaren Mercedes
5         Q1    String      Yes   Time format MM:SS.sss          1:15.912
6         Q2    String       No   Time format MM:SS.sss          1:15.415
7         Q3    String       No   Time format MM:SS.sss          1:15.096
8       Laps   Integer      Yes             Integer ≥ 0                20
9       Team    String      Yes              Any string           McLaren

--------------

# Starting Grid

In [3]:
import pandas as pd
df = pd.read_csv('STARTING_GRID.csv')

def infer_type(series):
    if pd.api.types.is_integer_dtype(series):
        return "Integer"
    elif pd.api.types.is_float_dtype(series):
        return "Float"
    elif pd.api.types.is_bool_dtype(series):
        return "Boolean"
    else:
        return "String"

data_dict = []

for col in df.columns:
    col_data = df[col]
    inferred_type = infer_type(col_data)
    required = "Yes" if col_data.isnull().sum() == 0 else "No"
    example = col_data.dropna().iloc[0] if not col_data.dropna().empty else "N/A"

    if col == "Time":
        allowed_values = "Time format MM:SS.sss"
    elif inferred_type == "String":
        allowed_values = "Any string"
    elif inferred_type == "Integer":
        allowed_values = "Integer ≥ 0"
    else:
        allowed_values = "Any"

    data_dict.append([col, inferred_type, required, allowed_values, example])

# Create DataFrame
data_dict_df = pd.DataFrame(data_dict, columns=["Field Name", "Data Type", "Required", "Allowed Values / Format", "Example"])
data_dict_df.head(15)

  Field Name Data Type Required Allowed Values / Format           Example
0   Location    String      Yes              Any string         Australia
1        Pos   Integer      Yes             Integer ≥ 0                 1
2         No   Integer      Yes             Integer ≥ 0                 4
3     Driver    String      Yes              Any string      Lando Norris
4        Car    String      Yes              Any string  McLaren Mercedes
5       Time    String       No   Time format MM:SS.sss          1:15.096
6       Team    String      Yes              Any string           McLaren

--------------------

# Team Results
Note: this data is not used in predictions, but in order to check their accuracy.

In [4]:
import pandas as pd
df = pd.read_csv('TEAM_RESULTS_2025.csv')


# Type inference function
def infer_type(series):
    if pd.api.types.is_integer_dtype(series):
        return "Integer"
    elif pd.api.types.is_float_dtype(series):
        return "Float"
    elif pd.api.types.is_bool_dtype(series):
        return "Boolean"
    else:
        return "String"

# Create data dictionary
data_dict = []

for col in df.columns:
    col_data = df[col]
    inferred_type = infer_type(col_data)
    required = "Yes" if col_data.isnull().sum() == 0 else "No"
    example = col_data.dropna().iloc[0] if not col_data.dropna().empty else "N/A"

    if inferred_type == "String":
        allowed_values = "Any string"
    elif inferred_type == "Integer":
        allowed_values = "Integer ≥ 0"
    else:
        allowed_values = "Any"

    data_dict.append([col, inferred_type, required, allowed_values, example])

# Create DataFrame
data_dict_df = pd.DataFrame(data_dict, columns=["Field Name", "Data Type", "Required", "Allowed Values / Format", "Example"])
data_dict_df.head(15)

  Field Name Data Type Required Allowed Values / Format  Example
0   Position   Integer      Yes             Integer ≥ 0        1
1       Team    String      Yes              Any string  McLaren
2     Points   Integer      Yes             Integer ≥ 0      246

----------------------------

# Individual Race Results 2025 
Note: this data is not used in predictions, but in order to check their accuracy.

In [5]:
import pandas as pd
df = pd.read_csv('RESULTS.csv')

def infer_type(series):
    if pd.api.types.is_integer_dtype(series):
        return "Integer"
    elif pd.api.types.is_float_dtype(series):
        return "Float"
    elif pd.api.types.is_bool_dtype(series):
        return "Boolean"
    else:
        return "String"

data_dict = []

for col in df.columns:
    col_data = df[col]
    inferred_type = infer_type(col_data)
    required = "Yes" if col_data.isnull().sum() == 0 else "No"
    example = col_data.dropna().iloc[0] if not col_data.dropna().empty else "N/A"

    if col == "Time/retired":
        allowed_values = "Race time format (e.g., 1:42:06.304) or gap (e.g., +0.895s) or DNF"
    elif inferred_type == "String":
        allowed_values = "Any string"
    elif inferred_type == "Integer":
        allowed_values = "Integer ≥ 0"
    else:
        allowed_values = "Any"

    data_dict.append([col, inferred_type, required, allowed_values, example])

# Convert to DataFrame
data_dict_df = pd.DataFrame(data_dict, columns=["Field Name", "Data Type", "Required", "Allowed Values / Format", "Example"])
data_dict_df.head(15)

,Field Name,Data Type,Required,Allowed Values / Format,Example
0,Location,String,Yes,Any string,Australia
1,Pos,String,Yes,Any string,1
2,No,Integer,Yes,Integer ≥ 0,4
3,Driver,String,Yes,Any string,Lando Norris
4,Car,String,Yes,Any string,McLaren Mercedes
5,Laps,Float,No,Any,57.0
6,Time/retired,String,Yes,"Race time format (e.g., 1:42:06.304) or gap (e...",1:42:06.304
7,Pts,Integer,Yes,Integer ≥ 0,25
8,Team,String,Yes,Any string,McLaren